<launch>

  <!--<arg name="rviz" default="true" />-->

  <node pkg="flexx" type="pointcloudmatch" name="pointcloudmatch" output="screen">
  <param name="filepath" type="string" value="/home/wzw/UnmannedSurfaceVehicle/bag/surfcut1.pcd" />
  <param name="voxelgridsize" type="double" value="0.01" />
  </node>

  <!--<group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find flexx)/rviz_cfg/loam_livox.rviz" />
  </group>-->

</launch>
